{% load static %}
<aside class="left-side sidebar-offcanvas">
    <!-- sidebar: style can be found in sidebar-->
    <section class="sidebar">
        <div id="menu" role="navigation">
            <div class="nav_profile">
                <div class="media profile-left">
                    <a class="pull-left profile-thumb" href="#">
                        <img src="{% static 'img/user.png' %}" class="img-circle" alt="User Image">
                    </a>
                    <div class="content-profile">
                        <h4 class="media-heading">Member</h4>
                        
                    </div>
                </div>
            </div>
            <ul class="navigation">
                
                    <a href="user_index">
                        <img src="{% static 'img/home.png' %}" width="25" class="img-circle img-responsive pull-left" height="25" alt="User Image">
                        <span class="mm-text">&nbsp;&nbsp;Home Page</span>
                        <span class="arrow"></span>
                    </a>
                </li>
                <li>
                    <a href="usergym_info">
                        <img src="{% static 'img/informative.png' %}" width="25" class="img-circle img-responsive pull-left" height="25" alt="User Image">
                        <span class="mm-text">&nbsp;&nbsp;Gym Info</span>
                        <span class="arrow"></span>
                    </a>
                </li>
                <li>
                    <a href="user_packages">
                        <img src="{% static 'img/subscribe.png' %}" width="25" class="img-circle img-responsive pull-left" height="25" alt="User Image">
                        <span class="mm-text">&nbsp;&nbsp;Subscription</span>
                        <span class="arrow"></span>
                    </a>
                </li>
                <li class="menu-dropdown">
                    
                    <a href="member_appointment">
                        <img src="{% static 'img/appointments.png' %}" width="25" class="img-circle img-responsive pull-left" height="25" alt="User Image">
                        <span>&nbsp;&nbsp;Appointment</span>
                    </a>
                </li>
               
                   
                    <li class="menu-dropdown">
                        <a href="user_esession_schedule">
                            <img src="{% static 'img/online-class.png' %}" width="25" class="img-circle img-responsive pull-left" height="25" alt="User Image">
                            <span class="mm-text">&nbsp;&nbsp;E-session Schedule</span>
                        </a>
                    </li>
                
                <li>
                    <a href="user_gallery">
                        <img src="{% static 'img/photo-gallery.png' %}" width="25" class="img-circle img-responsive pull-left" height="25" alt="User Image">
                        <span class="mm-text">&nbsp;&nbsp;Gallery</span>
                        
                    </a>
                </li>
                <li>
                    <a href="user_profile">
                        <img src="{% static 'img/profile.png' %}" width="25" class="img-circle img-responsive pull-left" height="25" alt="User Image"></i>&nbsp;&nbsp; Member Profile
                       
                    </a>
                </li>
                <li>
                    <a href="user_review">
                        <img src="{% static 'img/rating.png' %}" width="25" class="img-circle img-responsive pull-left" height="25" alt="User Image">
                        <span class="mm-text">&nbsp;&nbsp;Review</span>
                        
                    </a>
                </li>
            </ul>
            <!-- / .navigation -->
        </div>
        <!-- menu -->
    </section>
    <!-- /.sidebar -->
</aside>