{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/custom_css/homepage_v_style.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome-free-5.15.3-web/css/all.min.css' %}">
    <link type="text/css" href="{% static 'css/custom_css/reviewstyle.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'css/custom_css/faq.css' %}" rel="stylesheet" />
</head>
<body>

    <header class="header">
        <img src="{% static 'img/logo.png' %}" alt="image not found">
        <nav class="navbar">
            

            <a href="#">home</a>
            <a href="#">about</a>
            <a href="#">gallery</a>
            <a href="#">reviews</a>
        </nav>

        <div class="icons">
            
                <a href="login" >
                    
           <span style="font-size:2.0em;">Login/</span>
        </a>
           <a href="regi">
           <span style="font-size:2.0em;">registration</span>
            </a>
           
        </div>


        

    </header>


<!-- background image -->
 
        <section class="background-imgaee">
            <img src="{% static 'img/homepage_images/mainbg.png' %}" alt="image not found">
            <div class="background-content">
                <p>best practice, play moving, pain is glory </p>
                <h2>solution for moving
                <br>better and feeling healthier</h2>
        
                <a href="regi">get started</a>
            </div>
        </section>
 


<!-- be strong -->

<div class="about-us-main">
    <h1>about us</h1>

    <div class="main-about">

        <div class="inner-about">
            <div class="inner-content">
                <h2><span>welcome</span> to be strong</h2>
            <p class="unique">Currently, emotions are running high, and panic is running rampant. COVID-19 is taking over the news with empty store shelves, layoffs and the current social and economic climate is just plain daunting. This all seems to be stressful where workout sessions can be a bit of relief.
            Even though you’re plugged into the stream of thoughts, disconnect your mind from drama while being more mindful.<br></p>
            <li>We want to make sure that absolutely everyone feels welcome. Whether this is your first time in a gym and you’re at the very start of your wellness journey or you’re looking to achieve a new personal best. 
            Whatever your goal and whatever you want to achieve, we’re here to help you.</li><br>
            

            </p>
           
        
            
            </div>
            
        </div>


        <div class="inner-about imgcontent">

            <img class="firstimg" src="{% static 'img/homepage_images/strong1.png' %}" alt="">

            <div class="only-images">
                <img src="{% static 'img/gymimages/fitness.jpg' %}" alt="">
            <img src="{% static 'img//gymimages/C:\Users\GODAWARI SILK MILLS\Dropbox\gym_django-project\gym\static\img\gymimages\istockphoto-1217191817-612x612.jpg' %}" alt="">
            </div>
            
        </div>
    </div>
</div>



<!-- our prices -->




<!-- our class -->

<div class="our-class">

        <div class="class-main-content">
            <h1>Our class</h1>
    <p>We offer no pressure monthly, memberships starting from only Rs 2000 which you can stop and start whenever you want to, because we’re contract free. <br>So instead of being tied into a yearlong agreement and opening hours that don’t suit your lifestyle, we give you your gym, your way open 24/7. <br>No strings attached.</li><br>
                            
        </div>
    
</div>
<div class="our-class-gallery">
    <div class="main-gallery">

        <div class="inner-galler">
            <img src="{% static 'img/gymimages/digitalFitness1.jpg' %}" alt="">

        
            
          
        </div>

        <div class="inner-galler">
            <img src="{% static 'img/gymimages/7.jpg' %}" alt="">
            
        </div>

        <div class="inner-galler">
            <img src="{% static 'img/gymimages/pt_web.png' %}" alt="">
            
        </div>

        <div class="inner-galler">
            <img src="{% static 'img/gymimages/b5cbfd68_1746_P_6_mr-1.jpg' %}" alt="">
           
        </div>

        <div class="inner-galler">
            <img src="{% static 'img/homepage_images/class5.png' %}" alt="">
           
          
        </div>

        <div class="inner-galler">
            <img src="{% static 'img/gymimages/8.jpg' %}" alt="">
            
          
        </div>

    </div>
</div>

<!-- meet our team -->






<!-- contact us -->

<div class="main-contact">

    <div class="main-inner-contact">
        <div class="inner-contact">
            <div class="contact-content">
                <h2><span>contact</span> us</h2>
                <input type="email" placeholder="enter email" required>
                <input type="text" placeholder="enter Name" required>
                <textarea name="" id="" cols="30" rows="10" placeholder="your message"></textarea>
                <button> submit </button>
           
            </div>
            </div>
        <div class="inner-contact">

            <div class="contact-im">
                <img src="{% static 'img/gymimages/6.jpg' %}" alt="">
            </div>

        </div>
    </div>
</div>

















<script src="{% static 'script.js' %}"></script>    
</body>
</html>