* {
   padding: 0;
   margin: 0;
   font-family: sans-serif;
}
body {
   background: url(http://127.0.0.1:8000/static/img/blog-item002.jpg) no-repeat;
   background-size: cover;
}
.forgetpassword {
   width: 350px;
   top: 50%;
   Left: 50%;
   transform: translate(-50%, -50%);
   position: absolute;
   color: #fff;
   font-size: 26px;
}
.forgetpassword h1 {
   font-size: 40px;
   text-align: center;
   text-transform: uppercase;
   margin: 40px 0;
}
.forgetpassword input {
   font-size: 16px;
   width: 100%;
   padding: 15px 10px;
   border: 0;
   outline: none;
   border-radius: 5px;
   
}
.forgetpassword button {
   font-size: 18px;
   font-weight: bold;
   margin: 20px;
   padding: 15px 15px;
   width: 50%;
   border-radius: 5px;
   border: 0;

}